@font-face {
    font-family: 'Trebuchet MS';
    src: url('Trebuchet MS.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.ttf') format('truetype');
}

@keyframes fadeIN {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

:root {
    --bitter: Bitter;
    --montserrat: Montserrat;
    --montserrat-alternates: Montserrat Alternates;
    --blue: #3fa7d6;
    --light-blue: #00c6c6;
    --grey: #897248;
    --black: #31393c;
    --white: #fff;
    --red: #ff303c;
    --trebuchet: Trebuchet MS;
}

::selection {
    background-color: var(--light-blue);
    color: var(--white);
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.7rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body,
html {
    background-color: #f0f6f6;
    position: relative;
    min-height: 100vh;
    font-family: var(--montserrat);
    font-size: 100%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body,
html,
header,
footer,
input,
button,
textarea,
.pagination-link {
    color: var(--black);
}

body,
html,
.post-overlay-text,
.form-input,
.recent-post,
.about,
.contact,
.post-image,
.error-container,
.error-banner,
.no-content,
.post {
    width: 100%;
}

header,
footer,
.post,
.related-post,
.comment-content,
.comment-status,
.access-container,
.admin,
.no-content {
    background-color: var(--white);
}

a,
.heading,
input,
button,
textarea  {
    font-family: var(--bitter);
}

article h2,
.post-overlay-text h3 {
   font-size: 1.5rem;
}

label,
.post-image-container:hover .post-overlay-text h3,
.post-img,
.post-overlay-text,
.admin img {
    display: block;
}

label,
.post-img,
.access-container .submit-btn,
.read-more {
    margin-top: 1rem;
}

input,
button,
textarea {
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 300;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

header {
    transition: ease-in 1s;
    z-index: 1024;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link {
    font-family: var(--trebuchet);
}

p,
.footer-link-li {
    padding: .5rem 0;
}

footer,
.post,
.access-container {
    padding: 2rem 1rem;
}

.content {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.text-center {
    text-align: center;
}

.btn {
    padding: .6rem .7rem;
    border-radius: .4rem;
}

.post-owner {
    font-family: Pacifico;
    font-size: 1.3rem;
    font-weight: 100;
}

.relative {
    position: relative;
}

.round {
    border-radius: 50%;
}

.preloader-container {
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(0, 0, 0, .9);
}

.preloader {
    position: absolute;
    top: 40%;
    transform: scale(0);
    height: 80px;
    width: 80px;
    margin: 1px;
    border: 2px solid var(--white);
    opacity: 0;
    animation: fadeIN -1s 2s ease-in-out infinite forwards;
}

.nav-item {
    list-style-type: none;
}

.nav-link,
.dropdown-link,
.footer-link,
.footer-icons a {
    color: var(--light-blue);
}

.dropdown-link {
    display: block;
    padding: .7rem;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.dropdown-link:first-child {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.dropdown-link:last-child {
    border-bottom: none;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.dropdown-link:hover {
    background-color: #f8f9fc;
}

.search-input {
    background-color: rgb(239, 239, 239);
}

.link:hover,
.sidebar-link:hover,
.footer-link:hover,
.related-post-link:hover,
.to-category-link:hover {
    text-decoration: underline;
}

.post {
    margin: 2rem auto auto;
}

.post-img {
    margin-bottom: auto;
}

.post-overlay-text {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: all linear .7s;
}

.post-overlay-text h3 {
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

.post-image-container:hover .post-overlay-text {
    background-color: rgba(0, 0, 0, .8);
    transition: all linear .8s;
}

.sidebar .nav-item,
.related-post .nav-item {
    padding: 1rem 0 0 0;
}

.sidebar-link,
.related-post-link,
.to-category-link,
.footer-icons a:hover,
.link {
    color: var(--blue);
}

.pagination {
    justify-content: center;
}

.pagination-link {
    background-color: #f8f9fc;
    border-radius: 0;
    padding: .3rem 1rem;
    border-right: .5px solid #f2efe9;
    transition: ease-in-out .7s;
}

.pagination-link:first-child,
.top {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.pagination-link:last-child {
    border-right: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.pagination-link:hover,
.page-active,
.top,
.submit-btn,
.post-overlay-text h3,
.read-more {
    color: var(--white);
}

.error-text,
.line-divider {
    padding-top: 2rem;
}

.no-content,
.admin,
.access-container,
.related-post,
.comment-content,
.comment-status,
.post-img,
.post-overlay-text,
.post {
    border-radius: 1rem;
}

.read-more,
.pagination-link:hover,
.page-active,
.submit-btn {
    background-color: var(--light-blue);
}

.page-active {
    pointer-events: none;
}

.copyright {
    padding: 3rem 0 0 0;
}

.recent-post,
.about,
.contact {
    margin: 1rem auto;
}

.footer-link {
    font-size: 1.1rem;
}

.footer-icons a {
    display: inline-block;
    border: 1px solid grey;
    padding-top: .39rem;
    padding-bottom: .33rem;
    margin: 1rem 1rem .5rem auto;
}

.footer-icons .fa-facebook-f {
    padding-left: .88rem;
    padding-right: .9rem;
}

.footer-icons .fa-github,
.footer-icons .fa-whatsapp,
.footer-icons .fa-linkedin-in {
    padding-left: .8rem;
    padding-right: .7rem;
}

.footer-icons .fa-envelope {
    padding-left: .7rem;
    padding-right: .7rem;
}

.footer-icons a:hover {
    background-color: #ddd;
}

.top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 3rem;
    padding: .7rem 1.2rem;
    background-color: #ff303c;
    transform-origin: 0 0;
    animation: 3s .5s upDown ease-in-out infinite forwards;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.post-content {
    padding: 2rem 0;
}

.related-post,
.comment-content,
.comment-status,
.no-content {
    padding: 1rem;
}

.related-post,
.comment-content,
.comment-status,
.post,
.post-image img,
.access-container {
    box-shadow: 0 0 10px rgb(239, 239, 239);
}

.comment-content,
.bio {
    font-family: var(--montserrat-alternates);
}

.comment-input,
.access-input,
.message .form-input,
.name .form-input,
.subject .form-input,
.email .form-input {
    margin-top: .5rem;
    background-color: rgb(239, 239, 239);
}

.post-details h1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.post-details span {
    padding-right: .5rem;
}

.submit-btn {
    margin-top: .5rem;
}

.comments,
.pagination {
    margin: 3rem auto;
}

.user-comment {
    display: flex;
    align-items: center;
}

.user-icon {
    padding: .7rem .8rem;
    border: 1px solid rgb(239, 239, 239);
}

.user-comment h4 {
    padding: 0 .2rem;
}

.user-comment h4::after {
    content: "|";
    padding-left: .2rem;
}

.post-image img,
.access-container {
    border-radius: .3rem;
}

.post-image img {
    border-radius: .5rem;
}

.contact-text {
    width: 80%;
    margin: auto;
}

.admin {
    margin: 4rem .5rem -3rem .5rem;
}

.admin img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.admin p,
.post-details {
    padding-right: 1rem;
    padding-left: 1rem;
}

.error-container {
    position: absolute;
    min-height: 100vh;
    background-color: #f2dede;
}

.error-banner {
    padding: 4rem 1rem 2rem 1rem;
}

.error-header {
    font-family: Luckiest Guy;
    font-size: 5rem;
}

.line-divider {
    border-bottom: 2px solid var(--light-blue);
}

.error-text,
.user-icon {
    font-size: 1.2rem;
}

.cat-container,
.admin-container,
.access-container,
.post-container {
    margin: 4rem auto;
}

.no-content {
    margin: 2rem auto;
}

.fill-form,
.error-container {
    color: #a94442;
}
